<div class="center jumbotron">

  <table>
    <thead>
      <tr>
        <th colspan="6"> <%= full_title() %> Media Manzana 420 - (Rancho Grande) - Bariloche - <%= l(Time.current.to_date, format:'%d-%B-%Y') %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td-right"></td>
    </tbody>
    <thead>
      <tr>
        <th colspan="6"> Saldo General al dia de hoy: <%= l(Time.current.to_date, format:'%d-%B-%Y') %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan=3 class="td-right"><b>General</b></td> <td width=30%> <b><%=transactionBalanceWithCurrency()%></td>
      </tr>
    <thead>
      <tr>
        <th colspan="6"> Saldos de cada usuario al <%= l(invoiceLast().at_date, format:'%d-%B-%Y') %> </th>
      </tr>
    </thead>
        <%= emissionPrintLastGroup %>
    </tbody>
    <thead>
      <tr>
        <th colspan="6"> Consumo de Agua </th>
      </tr>
    </thead>
    <tbody>
      <tr>
	      <td colspan="6" align=center> <%= t"General_water_consumption_meter" %> </td> 
      </tr>
      <tr>
	      <td colspan="2" class="td-right"> <%= t"Last_emission"%> </td> <td width=30%> <b> <%=meditionLastEmission()%> </b> </td> <td colspan="3" width=30%>  </td>
      </tr>
      <tr>
	      <td colspan="2" class="td-right"> <%= t"Previous_reading"%> </td> <td width=30%> <b> <%=meditionPrev(meditionCurrentDate()).at_date%> </b> </td> <td colspan="3" width=30%> <b> <%=meditionPrev(meditionCurrentDate()).measure%> m3 </b> </td>
      </tr>
      <tr>
	      <td colspan="2" class="td-right"> <%= t"Actual_reading"%> </td> <td width=30%> <b> <%=meditionCurrentDate()%> </b> </td> <td colspan="3" width=30%> <b> <%=meditionByDate(meditionCurrentDate()).measure%> m3 </b> </td>
      </tr>
      <tr>
	      <td colspan="3" class="td-right"> <%=t"Total_consumption"%> </td> <td colspan="3" width=30%> <b> <%= meditionByDate(meditionCurrentDate()).measure - meditionPrev(meditionCurrentDate()).measure %> m3 </b> </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="6"> Facturas </th>
      </tr>
    </thead>
    <tbody>
      <tr>
	      <td colspan="6" align=center> <b>SIA - <%= t"Water" %> </b></td> 
      </tr>
      <tr>
	      <td colspan="2" class="td-right"> <%= t"at_date"%> </td> <td width=30%> <b> <%=transactionCurrentMonthYear()%> </b> </td> <td colspan="3" width=30%>  </td>
      </tr>
      <tr>
	     <td colspan="2" class="td-right"> <%= t"Fixed_consumption"%> </td>  <td colspan="3" width=30%> <b> <%= consumeWaterFixConsumeAmountWithCurrency() %> </b> </td>
      </tr>
      <tr>
	     <td colspan="2" class="td-right"> <%= t"Water_supply_Fund"%> </td> <td colspan="3" width=30%> <b> <%=consumeWaterProvisionAmountWithCurrency()%> </b> </td>
      </tr>
      <tr>
	      <td colspan="2" class="td-right"> <%=t"Total"%> </td> <td colspan="3" width=30%> <b> <%= consumeTotalAmountWithCurrency() %> </b> </td>
      </tr>
      <tr>
	     <td colspan="2" width=30% class="td-right"> <%= t'Last_invoice' %> </td> <td colspan="3" width=30%> <b> <%= number_to_currency(transactionCurrent().amount, unit: "$", format:"%u %n", precision:2) %> </b> (<%= l(transactionCurrent().at_date, format:'%d-%B-%Y') %>) </td>
      </tr>
      <tr>
	      <td colspan="2" class="td-right"> 
                <%=t"Rates_per_m3_excess"%> 
          </td> 
          <td colspan="3" width=30%> 
        <%= t"Rates_per_m3_excess"%>: <b><%= number_to_currency(consumeInfo().exceedance_m3_amount, unit: "$", format:"%u%n", precision:1)%>/m3</b> <br> <%=t"Increased_water_consumption"%> <%= consumeUserExceedance() %> m3. <br> (<%=consumeInfo().exceedance_m3%> m3 / <%= consumeInfo().number_of_members %> <%=t"users"%> = <%= consumeUserExceedance() %> m3)</b> 
           </td>
      </tr>


      <tr>
	      <td colspan="6" text-align=center> <b>CEB - <%= t"Electricity" %> </b></td> 
      </tr>
      <tr>
	     <td colspan="2" width=30% class="td-right"> <%= t'Last_invoice' %> </td> <td colspan="3" width=30%> <b> <%= transactionCurrentCebInvoiceAmountWithCurrency(meditionCurrentDate()) %> </b> (<%= l(transactionCurrentCebInvoice(meditionCurrentDate(), user_id = 20).at_date, format:'%d-%B-%Y')%>)</td>
      </tr>
      <tr>
	      <td colspan="2" width=30%> <b><%=t"Social_Fee"%> (Media Manzana 420) </b></td> <td colspan="3" width=30%> <b> <%= consumeSocialQuoteWithCurrency() %> </b><td colspan="3" width=30%>  </td>
      </tr>
    </tbody>
  </table>

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
