<%= form_for(invoice) do |f| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> <%= t"Invoice" %>: <%= t"prohibited_saved" %> </h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:at_emission_date_current) %>
    <%= f.select :at_date, invoiceUnusedMeditionDates().collect { |p| [ p.at_date.strftime("%d-%b-%Y"), p.at_date ] }, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label t(:Billed) %>
    <%= f.check_box :billed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
