<p id="notice"><%= notice %></p>

<h1><%=t("Users")%></h1>

<table style="border: 1px; width: 100%">
  <thead>
    <tr>
      <th><%=t("name")%></th>
   <% if current_user.admin? %>
      <th><%=t("Email")%></th>
      <th><%=t("address")%></th>
      <th><%=t("catastro")%></th>
      <th><%=t("phone")%>/<%=t("mobile")%></th>

      <th colspan="1"></th>
  <% end %>

    </tr>
  </thead>

  <tbody style="width:100%">
     <%= render @users %>
  </tbody>
</table>

<br>

<% if is_admin? %>
   <%= link_to t('New_User'), new_user_path, class: "btn btn-primary"%>
<% end %>

