<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to full_title(), root_url, id: "logo" %>
    <br>
    <%= link_to full_subtitle() %> 
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("Home"),   root_url %></li>
	    <% if logged_in? %>
		<% if is_admin? %>
        		<li><%= link_to t("Help"),   help_url %></li>
			<li><%= link_to t("Users"),         users_url %></li>
			<li><%= link_to t("Transactions"),  transactions_url %></li>
			<li><%= link_to t("Meditions"),     meditions_url %></li>
			<li><%= link_to t("Consumes"),      consumes_url %></li>
			<li><%= link_to t("Invoices"),      invoices_url %></li>
		<% end %>
		<li><%= link_to t("Emissions"),     emissions_url %></li>
		<li><%= link_to t("Settings"),      edit_user_path(current_user) %></li>
		<li><%= link_to t("Logout"),        logout_path, method: :delete %> </li>
	    <% else %>
		<li><%= link_to t("Login"),         login_url %></li>
 	    <% end %>

      </ul>
    </nav>
  </div>
</header>

